/* Poppins Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font{
    font-family: "Poppins", sans-serif;
}

/* Inter Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
    font-family: "Inter", sans-serif;
}

/* Roboto Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-font{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "wdth" 100;
}

/* Manrope Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Styles */
.btn-primary{
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 24px;
    border: none;
    background-color: #E02C6D;
}

.dark-1{
    color: #3A3A3A;
}

.dark-2{
    color: #6C6C6C;
}

.dark-3{
    color: rgba(24, 25, 31, 1);
    font-size: 1.5rem;
    font-weight: 500;
}

.dark-4{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-weight: 400;
}

.dark-5{
    color: rgba(94, 99, 102, 1);
    font-size: 14px;
    font-weight: 700;
}

.dark-6{
    color: rgba(120, 120, 133, 1);
    font-size: 14px;
    font-weight: 700;
}

.dark-7{
    color: #0A0826;
    font-size: 2.75rem;
    font-weight: 700;
}

.display-flex{
    display: flex;
}

section{
    margin-top: 80px;
    margin-bottom: 80px;
}



/* Header styles */
.header{
    padding: 0 132px;
}
/* Navbar-related styles */
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav .brand{
    font-size: 1.5rem;
    font-size: 700;
}
.nav  li{
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}
.nav-links{
    gap: 30px;
    align-items: center;

}
.nav-links a{
    text-decoration: none;
}
.nav li img{
    height: 24px;
    width: 24px;
}



/* Banner related styles */
.banner{
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 50%;
}
.banner-title{
    font-size: 4.25rem;
    font-weight: 700;
    line-height: 5.50rem;
}
.banner-description{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.banner button{
    border-radius: 40px;
}
.banner-media{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 475px;
    height: 475px;
}
.banner-media img{
    width: 440px;
    height: 414px;
} 



/* Main section styles */
/* Sponsors brand specific styles */
.sponsors{
    padding: 0px  165px;
}
.brands{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 32px 64px;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Popular collection styles */
.popular-collection{
    padding: 0  196px;
    
}
.section-title{
    text-align: center;
}
.cards-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.card{
    margin: 0 auto;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    padding: 14px;
    border-radius: 5px;
    
}
.card img{
    width: 100%;
}
.card-title{
    margin: 10px 0;
}
.price{
    margin: 8px 0;
}
.product-rating{
    margin: 8px 0;
}
.card .fa-star, .fa-star-half-stroke{
    color: rgb(242, 165, 12);
    width: 16px;
    height: 16px;
}

.popular-collection .see-more-btn button{
    color: rgba(224, 44, 109, 0.87);
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
}
.see-more-btn {
    margin-top: 30px;
    text-align: end;
}



/* Feature product related styles */
.feature-product{
    padding: 0 165px;
    display: flex;
    gap: 4rem;
}
.feature-description{
    font-size: 1rem;
}

/* Footer related styles */
.footer{
    background-color: #0a0826;
    color: #fff;
}
.footer-info{
    max-width: 260px;
    margin: 0 auto;
    padding: 30px 0 50px 0;
    text-align: center;
}
.footer-heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-description{
    margin-bottom: 15px;
}
.social-icon .fa-brands{
    color: #fff;
    background-color: grey;
    padding: 5px;
    border-radius: 50%;
}

    

/* Mobile Responsive media query */
@media screen and (max-width: 576px){
    .header
    {
        padding: 0px;
    }

    .nav,
    .nav-links
    {
        flex-direction: column;
    }

    .banner,
    .feature-product
    {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 14px;
        text-align: center;
    }
    .banner-content {
        max-width: 100%;
        padding: 0;
    }
    .banner-title{
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
    }
    .banner-description{
        font-size: 14px;
    }

    .brands{
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
    }
    .sponsors {
        padding: 0px;
        border: none;
    }
    .popular-collection{
        padding: 0;
    }

    .cards-list{
        
        grid-template-columns: 1fr;
        
    }
    .feature-product{
        padding: 0px;
        gap: 4rem;
    }

} 

/* Tablet device responsive */
@media screen and (min-width: 576px) and (max-width: 992px){
    .header {
        padding: 0 20px;
    }

    .banner,
    .feature-product
    {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 14px;
        text-align: center;
    }

    .banner-content {
        max-width: 100%;
        text-align: center;
    }

    .sponsors {
        padding: 0px 20px;
    }

    .popular-collection {
        padding: 0 20px;
    }
    .feature-product{
        flex-direction: column;
        padding: 0 20px;
    }
    .feature-media img{
        width: 100%;
    }

}